:root {
  --swiper-theme-color: #ff512e; }

.block_hero_slider-wrapper .swiper-pagination-bullets {
  bottom: 6rem; }
  .block_hero_slider-wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px; }

.block_hero_slider-wrapper .swiper-progress-bar {
  position: absolute;
  width: 100%;
  display: block;
  z-index: 1;
  bottom: 0; }
  .block_hero_slider-wrapper .swiper-progress-bar .slide_progress-bar {
    position: absolute;
    height: 4px;
    background: transparent;
    width: auto;
    clear: both;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .block_hero_slider-wrapper .swiper-progress-bar .slide_progress-bar:after {
      position: absolute;
      top: 0;
      left: 0;
      background: #ff512e;
      height: 100%;
      width: 0;
      content: ""; }
  .block_hero_slider-wrapper .swiper-progress-bar.active .slide_progress-bar {
    opacity: 1; }
  .block_hero_slider-wrapper .swiper-progress-bar.animate .slide_progress-bar:after {
    transition: width linear;
    transition-delay: unset;
    width: 100%;
    transition-duration: 5s; }

