/* .block_interactive_map-wrapper .block_header.mb-5 {
  margin-bottom: -3rem !important; }

.block_interactive_map-wrapper .map-location {
  cursor: pointer; }
  .block_interactive_map-wrapper .map-location .map-pin {
    transition: all .4s ease; }
  @media (min-width: 992px) {
    .block_interactive_map-wrapper .map-location.active .map-pin, .block_interactive_map-wrapper .map-location:hover .map-pin {
      transform: translateY(-16px); } }

@media (max-width: 991.98px) {
  .block_interactive_map-wrapper {
    overflow: hidden;
    overflow-x: scroll; }
    .block_interactive_map-wrapper svg {
      height: 720px;
      margin-left: -10rem; } }

.popover {
  position: relative;
  background: #FFFFFF;
  color: #072c51;
  padding: 1rem .75rem .75rem;
  border-radius: 24px; }
  .popover .popover-header {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding-bottom: 0;
    margin-botto: 0;
    line-height: 1; }
  .popover .popover-body {
    font-size: 1rem;
    margin-top: -.5rem; }
  .popover:after {
    content: "";
    position: absolute;
    right: -.5rem;
    top: -.5rem;
    background: url("../images/close-cricled.svg");
    width: 36px;
    height: 36px;
    cursor: pointer; }

.block_interactive_map-wrapper {
  position: relative;
  overflow: hidden; }
  .block_interactive_map-wrapper .character-filter {
    position: absolute;
    bottom: 0;
    left: 32px;
    transition: all .4s ease;
    transform: translateY(100%); }
    .block_interactive_map-wrapper .character-filter img {
      width: clamp(12.5rem, calc(-0.86207rem + 21.55172vw), 25rem); }
    .block_interactive_map-wrapper .character-filter.active {
      transform: translateY(0); }
 */
