@media (max-width: 991.98px) {
  .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg {
    padding-left: 0;
    padding-right: 0; } }
.block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider {
  position: relative; }
  .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide {
    display: flex;
    transition: all .4s ease;
    height: auto; }
    .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card {
      width: 80%;
      height: 100%;
      background: linear-gradient(to bottom, transparent 50%, white 0%);
      border-radius: 0 0 1.5rem 1.5rem;
      border: none; }
      @media (min-width: 992px) {
        .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card {
          width: 100%; } }
      .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body {
        padding: 0;
        border-radius: 0; }
        .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body > .row {
          z-index: 9;
          position: relative;
          margin-right: 0;
          margin-left: 0; }
        .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .image-wrapper {
          position: relative;
          margin-bottom: -1px; }
          .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .image-wrapper:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 42%;
            background: white;
            border-radius: 1.5rem 1.5rem 0 0;
            bottom: 0;
            left: 0;
            right: 0; }
          .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .image-wrapper .card-image {
            z-index: 99;
            position: relative;
            max-width: 80%; }
        .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .card-content {
          background: white;
          color: #072c51;
          border-radius: 0 0 1.5rem 1.5rem;
          padding: 1rem;
          z-index: -9; }
          @media (min-width: 992px) {
            .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .card-content {
              padding: 2rem 1.5rem 1.5rem; } }
          .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .card-content .card-title {
            font-size: 1rem; }
            @media (min-width: 375px) {
              .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .card-content .card-title {
                font-size: 1.25rem; } }
            @media (min-width: 992px) {
              .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .card-content .card-title {
                font-size: 1.75rem; } }
          .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .card-content .card-subheading {
            font-size: .8rem; }
            @media (min-width: 375px) {
              .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .card-content .card-subheading {
                font-size: 1rem; } }
            @media (min-width: 992px) {
              .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .card-content .card-subheading {
                font-size: 1.5rem; } }
          .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .card-content p {
            font-size: .75rem; }
            @media (min-width: 992px) {
              .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide .card .card-body .card-content p {
                font-size: 1.25rem; } }
    @media (max-width: 767.98px) {
      .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide {
        display: flex;
        justify-content: center; }
        .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide.swiper-slide-prev {
          transform: translateX(15%); }
        .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide.swiper-slide-next {
          transform: translateX(-15%); } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide {
        display: flex;
        justify-content: center;
        transform: translateX(-18%); }
        .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide:first-child {
          transform: translateX(18%); }
        .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide.swiper-slide-prev {
          transform: translateX(36%) !important; }
        .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide.swiper-slide-active {
          transform: translateX(18%); }
        .block_talent_cards_slider-wrapper .block_talent_cards_slider-container-lg .block_talent_cards_slider .swiper-slide.swiper-slide-next {
          transform: translateX(0); } }
.block_talent_cards_slider-wrapper .swiper-button-prev, .block_talent_cards_slider-wrapper .swiper-button-next {
  top: 65% !important;
  margin-top: 0; }
  @media (min-width: 992px) {
    .block_talent_cards_slider-wrapper .swiper-button-prev, .block_talent_cards_slider-wrapper .swiper-button-next {
      height: 5rem;
      width: 3rem; } }
  @media (min-width: 1200px) {
    .block_talent_cards_slider-wrapper .swiper-button-prev, .block_talent_cards_slider-wrapper .swiper-button-next {
      height: 7.5rem;
      width: 4.5rem; } }
  .block_talent_cards_slider-wrapper .swiper-button-prev:after, .block_talent_cards_slider-wrapper .swiper-button-next:after {
    display: none; }
  @media (min-width: 992px) {
    .block_talent_cards_slider-wrapper .swiper-button-prev svg, .block_talent_cards_slider-wrapper .swiper-button-next svg {
      height: 5rem; } }
  @media (min-width: 1200px) {
    .block_talent_cards_slider-wrapper .swiper-button-prev svg, .block_talent_cards_slider-wrapper .swiper-button-next svg {
      height: 7.5rem; } }
.block_talent_cards_slider-wrapper .swiper-button-prev {
  transform: translate(-150%, -50%) !important; }
.block_talent_cards_slider-wrapper .swiper-button-next {
  transform: translate(150%, -50%) !important; }
@media (min-width: 992px) {
  .block_talent_cards_slider-wrapper .container-lg {
    padding-left: 3rem;
    padding-right: 3rem; } }
@media (min-width: 1200px) and (max-width: 1489.98px) {
  .block_talent_cards_slider-wrapper .container-lg {
    padding-left: 4.25rem;
    padding-right: 4.25rem; } }
.block_talent_cards_slider-wrapper:not(.darker-theme) svg path:nth-child(2) {
  fill: #072c51 !important; }