.block_2columns-wrapper {
  position: relative; }
  @media (max-width: 991.98px) {
    .block_2columns-wrapper div:first-child {
      order: 6 !important; } }
  @media (max-width: 991.98px) {
    .block_2columns-wrapper div:last-child {
      order: -1 !important; } }
  .block_2columns-wrapper .block_2columns-image {
    position: relative; }
    .block_2columns-wrapper .block_2columns-image .foreground_image {
      position: absolute;
      max-width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2; }
  .block_2columns-wrapper .block_2columns-content div:first-child {
    margin-top: 0 !important; }
  @media (min-width: 992px) {
    .block_2columns-wrapper .block_2columns-content div:last-child {
      margin-bottom: 0 !important; } }

