.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	word-wrap: normal !important;
}
.social-icon{
	width: 40px;
  height: 40px;
  }
  
.wpcf7 form .wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid #00a0d2;
	/* Blue */
}
.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
	display: none;
}
.wpcf7 form.sent .wpcf7-response-output {
	border-color: #46b450;
	/* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
	border-color: #dc3232;
	/* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
	border-color: #f56e28;
	/* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: #ffb900;
	/* Yellow */
}
.wpcf7-form-control-wrap {
	position: relative;
}

.wpcf7-not-valid-tip {
	color: #dc3232;
	/* Red */
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
	position: relative;
	top: -2ex;
	left: 1em;
	z-index: 100;
	border: 1px solid #dc3232;
	background: #fff;
	padding: .2em .8em;
	width: 24em;
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-spinner {
	visibility: hidden;
	display: inline-block;
	background-color: #23282d;
	/* Dark Gray 800 */
	opacity: 0.75;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 100%;
	padding: 0;
	margin: 0 24px;
	position: relative;
}

form.submitting .wpcf7-spinner {
	visibility: visible;
}

.wpcf7-spinner::before {
	content: '';
	position: absolute;
	background-color: #fbfbfc;
	/* Light Gray 100 */
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border: none;
	border-radius: 100%;
	transform-origin: 8px 8px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
	.wpcf7-spinner::before {
		animation-name: blink;
		animation-duration: 2000ms;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.wpcf7 input[type="file"] {
	cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
	direction: ltr;
}

.wpcf7-reflection>output {
	display: list-item;
	list-style: none;
}

.wpcf7-reflection>output[hidden] {
	display: none;
}

.row,
h3 {
	text-align: -webkit-auto
}

dl,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
	margin-top: 0
}
.home a {
	font-size: 18px
}

.container {
	padding: 80px 20px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	/* max-width: 1140px */
}
@media (max-width:768px) {
	.privacy_list_2 li strong {
		font-size: 22px;
		margin-bottom: 20px;
		line-height: 28px
	}
	
}

.h3,
h3 {
	font-size: 34px
}

.row {
	/* margin: 20px -15px; */
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.para_14 {
	color: #000
}

p {
	text-align: left;
	margin-bottom: 19px
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2
}

.privacy_list_2 a {
	color: #a0c528
}

.privacy_list_2 a:hover {
	color: #030303
}
ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 40px
}
b,
strong {
	font-weight: bolder
}
.web-image{
	content: url(../images/skyweb_7.webp);
}
.web-image1{
	content: url(../images/velkiweb_7.webp);
}
.web-image2{
	content: url(../images/9baziweb_7.webp);
}
.web-image3{
	content: url(../images/gullybetweb_7.webp);
}
.web-image4{
	content: url(../images/babu88web_7.webp);
}
.web-image5{
	content: url(../images/auraweb_7.webp);
}
.web-image6{
	content: url(../images/diamondweb_7.webp);
}
.web-image7{
	content: url(../images/lotusweb_7.webp);
}
.web-image8{
	content: url(../images/cxwelcome.webp);
}
.web-image9{
	content: url(../images/world777web_7.webp);
}
.block_gallery-wrapper .swiper-slide img {
    width: 100%;
    height: 652px !important;
}
.image-heading{
	font-size: 40px;
	text-align: center;
	margin-bottom: 30px;
}
@media (max-width: 768px){
.web-image{
content: url(../images/mobileimg1.webp);
}
.web-image1{
	content: url(../images/mobileimg2.webp);
}
.web-image2{
	content: url(../images/mobileimg3.webp);
}
.web-image3{
	content: url(../images/cmobile.webp);
}
.web-image4{
	content: url(../images/mobileimg5.webp);
}
.web-image5{
	content: url(../images/mobileimg6.webp);
}
.web-image6{
	content: url(../images/mobileimg7.webp);
}
.web-image7{
	content: url(../images/mobileimg8.webp);
}
.web-image8{
	content: url(../images/mobileimg9.webp);
}
.web-image9{
	content: url(../images/mobileimg10.webp);
}
.block_gallery-wrapper .swiper-slide img {
    width: 100%;
    height: auto;
}
}
.paypro{
	height: 50px;
}
.block_2columns-wrapper {
	position: relative; }
	@media (max-width: 991.98px) {
	  .block_2columns-wrapper div:first-child {
		order: 6 !important; } }
	@media (max-width: 991.98px) {
	  .block_2columns-wrapper div:last-child {
		order: -1 !important; } }
	.block_2columns-wrapper .block_2columns-image {
	  position: relative; }
	  .block_2columns-wrapper .block_2columns-image .foreground_image {
		position: absolute;
		max-width: 100%;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2; }
	.block_2columns-wrapper .block_2columns-content div:first-child {
	  margin-top: 0 !important; }
	@media (min-width: 992px) {
	  .block_2columns-wrapper .block_2columns-content div:last-child {
		margin-bottom: 0 !important; } }


		:root {
			--swiper-theme-color: #ff512e; }
		  
		  .block_hero_slider-wrapper .swiper-pagination-bullets {
			bottom: 6rem; }
			.block_hero_slider-wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
			  width: 15px;
			  height: 15px; }
		  
		  .block_hero_slider-wrapper .swiper-progress-bar {
			position: absolute;
			width: 100%;
			display: block;
			z-index: 1;
			bottom: 0; }
			.block_hero_slider-wrapper .swiper-progress-bar .slide_progress-bar {
			  position: absolute;
			  height: 4px;
			  background: transparent;
			  width: auto;
			  clear: both;
			  opacity: 0;
			  bottom: 0;
			  left: 0;
			  right: 0; }
			  .block_hero_slider-wrapper .swiper-progress-bar .slide_progress-bar:after {
				position: absolute;
				top: 0;
				left: 0;
				background: #ff512e;
				height: 100%;
				width: 0;
				content: ""; }
			.block_hero_slider-wrapper .swiper-progress-bar.active .slide_progress-bar {
			  opacity: 1; }
			.block_hero_slider-wrapper .swiper-progress-bar.animate .slide_progress-bar:after {
			  transition: width linear;
			  transition-delay: unset;
			  width: 100%;
			  transition-duration: 5s; }